<ul class="list-group">
DAY 2
  {{#bookmarks}}
    <li class="list-group-item" {{data "bookmark"}}>
      <button class="btn edit">Edit</button>
      <button class="btn delete">Delete</button>
      <button class="btn copy">Copy</button>
       <a href="{{url}}">{{title}}</a>
     ( <a href="{{url}}">{{url}}</a> )
    </li>
  {{/bookmarks}}
</ul>
